In [10]:
import pandas as pd
import json
from bs4 import BeautifulSoup
import requests
import io
from IPython.display import display_json
import certifi
import urllib3
import html5lib
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
from tabulate import tabulate
from IPython.display import HTML
import matplotlib.pyplot as plt
import numpy as np
import ipywidgets as widgets

In [11]:
URL = "https://www.ttilgb.com/uiAgs03Action/openScreen.do"
res = requests.get(URL, 'lxml', verify=False)

In [12]:
soup = BeautifulSoup(res.content, 'lxml')

In [13]:
#Or children = table.findChildren()
#for child in children:
    #print (child)

In [14]:
table1 = soup.find_all('tr')[0]

In [15]:
df1 = pd.read_html(str(table1))
#print (df1)

In [16]:
table2 = soup.find_all("td", { "class" : "h23" })

In [17]:
df2 = pd.read_html(str(table2))

In [18]:
#df2

In [19]:
soupparser = BeautifulSoup(res.content, 'html.parser')
#print(soupparser.prettify())

In [20]:
table = soup.find('tbody')

In [24]:
res = []
row = []

for tr in table.find_all('tr'):
     for td in tr.find_all('td'):
         row.append(td.text.strip())
     res.append(row)
     row = []

In [25]:
df = pd.DataFrame(data=res)

In [26]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,,TTI EMPTY RECEIVING - Subject to Change,,,,,,,None,None,None,None,None,None,None,None
1,,TRANSACTION TYPE,5/22/2020,5/23/2020,5/24/2020,5/25/2020,5/26/2020,5/27/2020,,,None,None,None,None,None,None
2,,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,,,None,None,None,None,None,None,None
3,,1st,2nd,1st,2nd,1st,2nd,1st,2nd,1st,2nd,1st,2nd,,,None
4,MSC,20',SINGLE,,SINGLE,,,,,,SINGLE,SINGLE,SINGLE,SINGLE,20',MSC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,,40',X,,,,LEGEND,,,,,None,None,None,None,None
68,,45',X,,,,SINGLE,EMPTY IN AND DUALS ACCEPTED,,,,,None,None,None,None
69,,JB HUNT,,X,,,DUAL,EMPTY CONTAINER IN AND CONTAINER OUT,,,,,None,None,None,None
70,,SCHNEIDER,,X,,,NO,NOT ACCEPTING TRANSACTION TYPE,,,,,None,None,None,None
71,,GENERAL TERMINAL INFORMATION,,,,,,,,,,,None,None,None,None