In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlalchemy
import psycopg2

In [3]:
# File to Load
Appts = "GateAppointment.csv"

In [4]:
# Read  and store into Pandas data frame
apptdf = pd.read_csv(Appts)

In [5]:
apptdf

           Date Line  Type   Gate
0      6/1/2020  MSC  45G1  USLAX
1      6/1/2020  MSC  45G1  USLAX
2      6/1/2020  MAE  45G1  USLAX
3      6/1/2020  MAE  45G1  USLAX
4      6/1/2020  MAE  45G1  USLAX
...         ...  ...   ...    ...
2202   6/1/2020  MAE  45G1  USLAX
2203   6/1/2020  MAE  45G1  USLAX
2204   6/1/2020  SML  45G1  USLAX
2205  5/18/2020  MAE  42G1  USLAX
2206  4/29/2020  MSC  42G1  USLAX

[2207 rows x 4 columns]

In [6]:
engine = sqlalchemy.create_engine('postgresql://postgres:Chester8!@localhost:5432/ETL-Project')
con = engine.connect()
table_name = 'Appts'
apptdf.to_sql(table_name, con)